form {
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    margin:20px 0;
    
}
/* .formCol{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
} */
.formRow{
    display:flex;
    justify-content: space-around;
    /* flex-direction: column; */
    text-align: left;
}
.formRow>div{
    width:35%
}
.fieldsLabel{
    font-weight: 600;
    display: inline-block;
    margin: 10px 0 5px 0;
    /* margin-bottom: 5px; */
}
#gender{
    margin:0;
    padding-right:10px
}
#genderContainer{
    display:flex;
    text-align:left;
    justify-content:flex-start;
    margin:10px 0;
}
.fieldsInput{
    width:90%;
    border:1px solid #a7a7a7;
    padding:5px 15px;
    border-radius: 5px;
    font-size: 14px;
    margin-bottom:5px;
}
#designation {
    -webkit-appearance: none !important;
      -moz-appearance: none !important;
      width: 100%;
      background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAUCAMAAACtdX32AAAAdVBMVEUAAAD///8AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAhMdQaAAAAJ3RSTlMAAAECAwQGBwsOFBwkJTg5RUZ4eYCHkJefpaytrsXGy8zW3+Do8vNn0bsyAAAAYElEQVR42tXROwJDQAAA0Ymw1p9kiT+L5P5HVEi3qJn2lcPjtIuzUIJ/rhIGy762N3XaThqMN1ZPALsZPEzG1x8LrFL77DHBnEMxBewz0fJ6LyFHTPL7xhwzWYrJ9z22AqmQBV757MHfAAAAAElFTkSuQmCC);
      background-position: 100%;
      background-repeat: no-repeat;
    }
    
    #designation{
        width:100%;
    }
#formbtnContainer{
    display: flex;
    justify-content: right;
    align-items:end;
}
.formbtn{
    border:none;
    padding:10px 18px;
    border-radius: 5px;
    font-weight: 500;
    font-size: 16px;
    cursor: pointer;
}
#addbtn{
    background-color: #04bd5a;
    margin-right: 20px
}
#addbtn:hover{
    background-color: #25f184;
    /* font-weight: 600; */
}
#clearbtn{
    background-color: rgb(231, 107, 107);
}
#clearbtn:hover{
    background-color: rgb(221, 76, 76);
    /* font-weight: 600; */
}
.error{
    color:red;
    font-size: 13px;
}